{% extends 'base.html' %}

{% block title %}courses | kitchen{% endblock %}


   {% block content %}

<!-- Featured Section -->
<section class="container my-5">
        <h3 class="fw-bold text-center mb-4">FEATURED COURSES</h3>
        <div class="row g-4 justify-content-center">

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="gut-program-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">THE GOOD GUT<br> PROGRAM</h5>
                        <p class="card-text">In Just 4 Weeks, Say Goodbye To <br>Bloating, Constipation,<br> Inflammation & Acidity...</p>
                        <p class="card-text fw-bold">Get 70% OFF<br>₹ 4999 <del class="text-light">₹ 1499</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="look-good-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">LOOK GOOD COURSE</h5>
                        <p class="card-text">In Just 30 Days, Discover Time<br> Tested & Science Backed Insights,<br> Remedies And Recipes</p>
                        <p class="card-text fw-bold">New Launch Offer | 88% OFF<br>₹ 42,995 <del class="text-light">₹ 4,999</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="food-business-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">Start Your Food<br> Business From Home</h5>
                        <p class="card-text">Learn How To Start Your Food<br> Business From Home, And Run<br> A Successful Home</p>
                        <p class="card-text fw-bold">New Launch Offer | 70% OFF<br>₹ 4999 <del class="text-light">₹ 1,499</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

  <section class="container my-5"  >
        <h3 class="fw-bold text-center mb-4">ALL COURSES</h3>
        <div class="row g-4 justify-content-center" style="text-wrap: wrap;padding: 5px;margin: 5px;">

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="immunity-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">IMMUNITY BOOSTER<br> RECIPES</h5>
                        <p class="card-text">Live Well And Boost Your<br> Immunity With Time-Tested<br> Immunity Booster Recipes <br>From The Expert In Indian Cuisine</p>
                        <p class="card-text fw-bold">Limited Period Offer<br> - Get 40% OFF<br>₹ 4000 <del class="text-light">₹ 1,999</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="garnishing-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">GARNISHING & <br>PLATING COURSE</h5>
                        <p class="card-text">Love Plating Your Dishes<br> Like An Expert? Take Professional <br>Cues From MasterChef Sanjeev <br> Kapoor To Excel In The Art Of <br>Food Presentation!</p>
                        <p class="card-text fw-bold">Limited Period Offer - <br>Get 60% OFF<br>₹ 999 <del class="text-light">₹ 399</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="cooking-home-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">COOKING AT <br>RESTAURANT STYLE<br> HOME STYLE</h5>
                        <p class="card-text">Cook Amazing Restaurant<br> Style Dishes And Change <br>Everyday Home Cooked Dishes <br>Into Exceptional Dishes Your <br>Family Will Love</p>
                        <p class="card-text fw-bold">Get 90% OFF<br>₹ 6000 <del class="text-light">₹ 1,999</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="vegetarian-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">VEGETARIAN'S<br> DELIGHT</h5>
                        <p class="card-text">Cook The Tastiest VEGETARIAN <br>Dishes Using Everyday Ingredients <br>For Your Loved Ones At Home.<br> A True Delight For A Vegetarian!</p>
                        <p class="card-text fw-bold">Get 37% OFF<br>₹ 4000 <del class="text-light">₹ 2,499</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="singles-cooking-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">BASIC COOKING <br>FOR SINGLES</h5>
                        <p class="card-text">Impress Friends And Save <br>Money By Making Amazing Food<br> On Your Own Like The<br> MasterChef.<br> From How To Use A Cooker</p>
                        <p class="card-text fw-bold">Limited Period Offer -<br> Get 67% OFF<br>₹ 5999 <del class="text-light">₹ 1,999</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card course-card text-white text-center">
                    <div class="card-bg rounded-4" id="singles-cooking-bg"></div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 bg-dark bg-opacity-50 rounded-4">
                        <h5 class="card-title fw-bold">INDIA'S FAVOURITES: <br>RESTAURANTS AND <br>HOME STYLE DISHES</h5>
                        <p class="card-text">Impress Friends And Save <br>Money By Making Amazing Food<br> On Your Own Like The MasterChef.<br> From How To Use A Cooker</p>
                        <p class="card-text fw-bold">Limited Period Offer -<br> Get 67% OFF<br>₹ 6000 <del class="text-light">₹ 1,999</del></p>
                        <a href="#" class="btn btn-danger mt-2">LEARN MORE</a>
                    </div>
                </div>
            </div>

        </div>
    </section>







 <!-- image -->
    <div class="image-text-container">
   
     <img src="{{ url_for('static', filename='image/Group 40.png') }}"  class="main-image">
   
</div>



 <div class="cta-section">
        <h3 class="cta-heading">
            Homemakers to busy executives, budding chefs to food entrepeneurs, grandparents to moms, health conscious people or foodies – there's a course for all.
        </h3>
        <button class="cta-button"><a href="{{ url_for('courses') }}"style="text-decoration: none;">VIEW COURSES</button></a>
       
    </div>
{% endblock %}